<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Tracker</title>  
    
</head>
<body>
    <a href="/">Home</a> 
    <a href="/nepal/">Go to Nepal</a> 
    <a href="/expenses/">My Expenses</a>
    <a href="/add-expense/">Add New Expense</a>
    <hr>
    <h1>Welcome to Expense Tracker</h1>
    <div style="width:75%;">
		<canvas id="canvas"></canvas>
	</div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script>
        var ctx = document.getElementById('canvas');
        var myLineChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [{% for expense in expenses %}"{{expense.day}}",{% endfor %}], 
                datasets: [{
                    data: [{% for expense in expenses %}"{{expense.total}}",{% endfor %}],
                    backgroundColor: "red",
                    borderColor: "red",
                    fill: false,
                }], 
            },
            options: {
                
            }
        });
    </script>
</body>
</html>